<html>
  <head>
    <link rel='stylesheet' href='/style.css' />
    <title><%= title %></title>
  </head>
  <body>
    <h1>Message Details:</h1>
    <h3>User:</h3>
    <p><%= message.user %></p>
    <h3>Message:</h3>
    <p><%= message.text %></p>
    <h4>Added:</h4>
    <p><%= message.added %></p>
    <a href='/'>Home</a>
  </body>
</html>